@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


body {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Netflix-style gradient container */
#gradient-container {
  position: fixed;
  top: 1px;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.gradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: opacity 1s ease;
  opacity: 0;
  mix-blend-mode: normal;
}

/* Custom dark mode enhancements */
.year-card-dark {
  background: linear-gradient(to bottom right, rgba(31, 41, 55, 0.6), rgba(17, 24, 39, 0.6));
  border: 1px solid rgba(75, 85, 99, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.year-card-dark:hover {
  background-image: linear-gradient(to bottom right, rgba(55, 65, 81, 0.7), rgba(31, 41, 55, 0.7));
  border-color: rgba(107, 114, 128, 0.4);
}

.dark-glass {
  background-color: rgba(31, 41, 55, 0.4);
  backdrop-filter: blur(8px);
  border-color: rgba(75, 85, 99, 0.2); 
  box-shadow: 0 4px 24px 0 rgba(17, 24, 39, 0.15), 0 1.5px 6px 0 rgba(255, 255, 255, 0.08) inset;

}

.dark-glass:hover {
  background-color: rgba(55, 65, 81, 0.6);
  border-color: rgba(107, 114, 128, 0.4);
  box-shadow: 0 10px 15px -3px rgba(17, 24, 39, 0.7), 0 4px 6px -4px rgba(17, 24, 39, 0.7);
}

.dark-background {
  background-color: rgba(28, 28, 30, 0.9);
  backdrop-filter: blur(8px);
  border-color: rgba(75, 85, 99, 0.2);
}

.dark-background:hover {
  background-color: rgba(28, 28, 30, 1);
}
